<html>
    <head>
        <title>PicRoss</title>
    </head>
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <body>
        <h1>
            Welcome to PicRoss! Press start to play...
        </h1>
        <table class="center">
            <tr>
                <!-- column hints go here -->
                <!-- <th></th> -->
                {%for row in range(grid|length)%}
                <th>{{colHint[row]}}</th>
                {%endfor%}
            </tr>
            {%for row in range(grid|length)%}
            <tr>
                {%for col in range(grid[0]|length)%}
                {% if (col == "0") %}
                <th>1</th>
                {%endif%}
                <td>
                <form action="{{ url_for('root') }}" method="post" >
                    <!-- <p>{{grid[row][col]}}</p> -->
                    {% if (grid[row][col] == "1") %}
                        <input type="hidden" value="{{ 'box' + row|string + col|string }}" name="box_name">
                        <input type="image" alt="box" 
                        src="{{url_for('static', filename='blue_box.png')}}" width="42" height="42">
                    {% elif (grid[row][col] == "2") %}
                        <input type="hidden" value="{{ 'box' + row|string + col|string }}" name="box_name">
                        <input type="image" alt="box" 
                        src="{{url_for('static', filename='red_box.png')}}" width="42" height="42">
                    {% else %}
                        <input type="hidden" value="{{ 'box' + row|string + col|string }}" name="box_name">
                        <input type="image" alt="box" 
                        src="{{url_for('static', filename='grey_box.png')}}" width="42" height="42">
                    {% endif %}
                </form>
                </td>
                {%endfor%}
            </tr>
            <br>
            {%endfor%}
        </table>
        <form action="/check" method="post">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>